{% extends "base.html" %}
{% block title %} Create classroom {% endblock %}
{% block content %}
<h1>Choose a classroom</h1>

<form action="/add_student_face_3" method="post">
 Select Classroom: <select name="student_id" id="student_id">
        <option value="{{ dropdownlist }}" selected="selected">Select a student ID</option>
        {% for i in dropdownlist: %}
        <option value="{{i}}">{{i}}</option>
        {% endfor%}
        </select>
  <button type="submit" class="btn btn-primary" name="table_name" id = "table_name" value="{{table}}">Submit</button>
</form>
{% endblock %}